.section.comp-intro,
.section.comp-plan,
.section.season-timeline {
    width: 80%;
    padding-bottom: 0;
}

.section.season-timeline p {
    margin: 0;
}

.section.comp-plan .body.obj {
    margin-bottom: 50px;
}

.section.season-timeline {
    padding-bottom: 100px;
}

@media (max-width: 400px) {
    .card-number-wrapper {
        min-width: 0px;
        padding-right: 20px;
    }
}