@font-face {
    font-family: "PP Mori";
    src: url("../assets/fonts/PPMori-Extralight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "PP Mori";
    src: url("../assets/fonts/PPMori-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PP Mori";
    src: url("../assets/fonts/PPMori-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder LC';
    src: url('../assets/fonts/Thunder-BoldLC.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder LC';
    src: url('../assets/fonts/Thunder-SemiBoldLC.woff2') format("woff2");
    font-weight: 600;
    font-style: normal;
}

.section {
    text-align: center;
    padding: 20px 0;
    margin: auto;
}

.banner {
    position: relative;
    margin: 80px auto 0px;
    overflow: hidden;
    max-height: 500px;
}

.banner-video {
    margin: auto;
}

#myvideo {
    display: block;
    margin: auto;
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

.home-banner-text {
    text-align: center;
    margin: 40px auto;
}

.home-banner-text h1 {
    margin: 0;
    color: #1e1e21;
    font-size: 160px;
    font-family: "Thunder LC", sans-serif;
    margin-bottom: -16px;
    text-transform: uppercase;
}

.home-banner-text p {
    margin: 0;
    color: #1e1e21;
    font-size: 22px;
    font-family: "PP Mori", sans-serif;
    font-weight: 400;
}

.subheading {
    font-family: "Thunder LC", sans-serif;
    font-size: 50px;
    color: #1e1e21;
    text-transform: uppercase;
}

.section.welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 60px 0 80px 0;
}

.section.welcome .body {
    text-align: center;
    width: 90%;
    max-width: 900px;
    font-size: 20px;
    color: #1e1e21;
    font-weight: 400;
    line-height: 1.6em;
    margin: 0;
}

.button-var1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.button-text-var1 {
    border-radius: 0px;
    background-color: #1e1e21;
    color: white;
    font-family: "PP Mori", sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding: 12px 40px;
    border-radius: 30px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button-text-var1:hover {
    background-color: black;
    color: white;
}

.button-text-var2 {
    border-radius: 5px;
    background-color: #1e1e21;
    color: white;
    font-family: "PP Mori", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    padding: 13px 0;
    width: 100%;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.button-text-var2:hover {
    background-color: black;
    color: white;
    border-color: black;
}

p.subtitle {
    margin: auto;
    font-size: 18px;
    line-height: 1.6em;
    width: 90%;
    color: #5c5c5c;
}

/* What do we do? Section */
.overview {
    text-align: center;
    justify-content: center;
}

.rect-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    width: calc(3 * 350px + 2 * 20px);
    margin: auto;
}

.rect {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.image-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.text-container {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #1e1e21;
    font-weight: 500;
}

/* Interactive Map Section */
.section.footprints {
    width: 90%;
}

.footprints-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.footprints-text {
    max-width: 800px;
}

.footprints-image {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

/* E-board */
.eboard-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.eboard-text {
    max-width: 800px;
}

.firework-image {
    width: 180px;
    height: 180px;
    object-fit: contain;
}

/* Partnerships */
.section.sponsors {
    width: 80%;
    padding-bottom: 100px;
}

.logos-grid {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    grid-template-rows: repeat(2, 1fr);
    /* 2 rows */
    gap: 10px;
    /* Adjust spacing */
    max-width: 600px;
    /* Adjust based on need */
    margin: auto;
}

.logo-container img {
    width: 100%;
    /* Adjust as needed */
    transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    /* Smooth transition effect */
}

.greyed-out img {
    filter: grayscale(100%);
    /* Turns non-hovered images grey */
    opacity: 0.4;
    /* Optional: reduce opacity for a faded effect */
}

.logo-container {
    width: 140px;
    /* Fixed square size */
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.confetti-image {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

/* Responsive */
@media (max-width: 1024px) {
    #myVideo {
        width: 90%;
    }

    .home-banner-text h1 {
        font-size: 120px;
    }

    .section.welcome .body {
        font-size: 16px;
    }

    p.subtitle {
        font-size: 16px;
    }

    .rect-container {
        max-width: calc(2 * 350px + 1 * 20px);
    }

    .map-container {
        height: max-content;
        flex-direction: column-reverse;
        height: auto !important;
        align-items: center;
    }

    .details-box {
        width: 90%;
        margin: 20px auto;
    }
}

@media (max-width: 768px) {
    .footprints-image,
    .confetti-image {
        display: none;
    }

    .banner.home {
        margin-top: 60px;
    }

    .home-banner-text h1 {
        font-size: 90px;
    }

    .home-banner-text p {
        margin-top: 10px;
        font-size: 18px;
    }

    .rect-container {
        max-width: calc(1 * 350px);
    }

    .text-container {
        height: 20px;
        font-size: 16px;
    }
    
}

@media (max-width: 530px) {
    .banner.home {
        margin-top: 60px;
    }

    .home-banner-text h1 {
        font-size: 60px;
    }

    .home-banner-text p {
        margin-top: 10px;
        font-size: 16px;
    }

    .rect {
        width: 90%;
        height: auto;
    }

    .image-container {
        margin: 30px 0;
    }

    .image-container img {
        width: 90%;
    }

    .map-container {
        width: 95% !important;
    }

    span.location-name {
        font-size: 30px;
    }

    span.location-place {
        display: none;
    }

    .details-box {
        width: 90% !important;
    }

    .button-text-var2 {
        font-size: 14px !important;
    }
}

@media (max-width: 400px) {
    .banner.home {
        margin-top: 60px;
    }

    .home-banner-text {
        margin-bottom: 30px;
    }

    .home-banner-text h1 {
        font-size: 50px;
    }

    .home-banner-text p {
        margin-top: 15px;
        font-size: 16px;
    }

    .details-box {
        width: 80% !important;
    }

    .logo-container {
        width: 100%;
        height: auto;
    }
}