.section.practice-intro,
.section.example-practices,
.section.core-games {
    width: 70%;
    margin: auto;
    padding-bottom: 40px;
}

.practice-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.practice-card {
    background-color: none;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.practice-card img {
    width: 400px;
    height: auto;
    display: block;
}

.caption {
    padding: 10px;
    font-size: 0.95rem;
    color: #333;
}

@media (max-width: 530px) {
    .section.practice-intro,
    .section.example-practices,
    .section.core-games {
        width: 80%;
    }

    .practice-card img {
        width: 100%;
    }
}