.banner-section {
    padding: 50px 0 20px;
    width: 90%;
    margin: auto;
}

.banner-section .banner-image {
    position: relative;
}

.banner-section .banner-image img {
    width: 100%;
    height: auto;
    border-radius: 0px;
}

.banner-text {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

.banner-text h1 {
    margin: 0;
    color: white;
    font-size: 160px;
    padding-bottom: 40px;
    font-family: "Thunder LC", sans-serif;
    margin-bottom: -16px;
    text-transform: uppercase;
}

/* Responsive styles */
@media (max-width: 1000px) {
    .banner-text h1 {
        font-size: 120px;
    }
}

@media (max-width: 768px) {
    .banner-text h1 {
        font-size: 90px;
    }
}

@media (max-width: 530px) {
    .banner-image img {
        display: none;
    }

    .banner-section {
        padding: 120px 0 0px;
    }

    .banner-text h1 {
        font-size: 60px;
        color: #1e1e20;
        padding-bottom: 0;
    }

    .banner-text {
        margin-top: 20px;
        bottom: 10px;
    }
}