.header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #f5f3ef;
}

.logo img {
    height: 100px;
    position: relative;
    transform: translateY(40px);
}

.nav {
    display: flex;
    height: 48px;
    border-radius: 30px;
    background-color: #e1e1df;
    margin-top: 20px;
    padding: 0 4px;
}

.nav a {
    text-decoration: none;
    color: #1e1e21;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    transition: color 0.3s ease;
    margin: auto;
    padding: 0 26px;
    transition: 0.1xs ease-in-out;
}

.nav a:hover {
    padding: 8px 26px;
    border-radius: 30px;
    color: white;
    background: #1e1e21;
}

.socials {
    margin-top: 20px;
    width: 140px;
    display: flex;
    gap: 20px;
}

.socials a {
    color: #5c5c5c;
    font-size: 20px;
    transition: color 0.3s ease;
    z-index: 100;
}

.socials a:hover {
    color: #1e1e21;
}

/* breakpoint for screens smaller than 1000px */
@media (max-width: 1000px) {
    .header {
        padding-right: 30px;
        padding-left: 30px;
    }
    .logo img {
        height: 80px;
    }
    .nav {
        gap: 30px;
    }
    .socials {
        width: 80px;
    }
}