.header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-right: 0px;
    padding-left: 50px;
    background-color: #f5f3ef;
}

.logo img {
    height: 80px;
    position: relative;
    transform: translateY(30px);
}

.nav {
    display: flex;
    height: 48px;
    border-radius: 30px;
    background-color: #e1e1df;
    padding: 0 4px;
    margin: 20px 40px 0;
}

.nav a {
    text-decoration: none;
    color: #1e1e21;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    transition: color 0.3s ease;
    margin: auto;
    padding: 0 26px;
    transition: all 0.1s ease-in-out;
}

.nav a:hover {
    padding: 8px 26px;
    border-radius: 30px;
    color: white;
    background: #1e1e21;
}

.nav a.active {
    padding: 8px 26px;
    border-radius: 30px;
    color: white;
    background: #1e1e21;
}

.socials {
    margin-top: 20px;
    width: 140px;
    display: flex;
    gap: 20px;
}

.socials a {
    color: #5c5c5c;
    font-size: 20px;
    transition: color 0.3s ease;
    z-index: 100;
}

.socials a:hover {
    color: #1e1e21;
}

/* Hide desktop nav and show hamburger on small screens */
.hamburger {
    display: none;
    font-size: 28px;
    padding-top: 20px;
    color: #1e1e21;
    cursor: pointer;
    z-index: 999;
}

@media (max-width: 1000px) {
    .desktop-nav {
        display: none;
    }

    .header {
        padding-right: 50px;
    }

    .hamburger {
        display: block;
    }

    .socials {
        display: none;
    }
}

/* Mobile slide-in panel */
.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 60vw;
    height: 100vh;
    background-color: #1e1e20;
    color: #f4f3ee;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    z-index: 1000;
    padding: 30px;
}

.mobile-menu.open {
    transform: translateX(0%);
}

.close-btn {
    font-size: 30px;
    align-self: flex-end;
    cursor: pointer;
}

.mobile-nav {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mobile-nav a {
    color: #f4f3ee;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}