@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic);

svg.states {
    color: white;
    display: block;
    margin: 0 auto;
}

path.state {
    fill: #eae9e8;
    stroke: #fff;
    stroke-width: 1;
}

a.state {
    transition: color 1s;
}

a.state:hover {
    color: #a00;
    transition: color 0s;
}

.map-container {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    width: 90%;
    height: 580px;
}

.details-box {
    width: 400px;
    height: min-content;
    border-radius: 10px;
    padding: 20px;
    border: 1.5px solid #E5E5E5;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: white;
}

.location-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 5px;
}

.location-info {
    padding-top: 14px;
}

.location-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.location-name {
    font-size: 32px;
    font-family: "Thunder LC", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #1e1e21;
}

.location-place {
    color: #B0B0B0;
    font-size: 14px;
    font-weight: 400;
}

.map-image-container {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.map-image {
    width: 100%;
    height: auto;
    display: block;
}

.map-dot {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transform: translate(-50%, -50%);
    /* center the dot on x/y */
    transition: background-color 0.2s;
}

.map-dot:hover {
    transform: translate(-50%, -50%) scale(1.2);
}