.trip-card {
    border: 1.5px solid #E5E5E5;
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    background-color: white;
    text-align: left;
}
  
.trip-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 12px;
}
  
.trip-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trip-row.first {
  padding-bottom: 8px;
}

.trip-row.second {
  padding: 10px 0;
}
  
.trip-location {
    display: flex;
    align-items: center;
    color: #5c5c5c;
}
  
.location-icon {
    font-size: 16px;
    color: #1e1e21;
    margin-right: 6px;
}

.trip-date {
    color: #5c5c5c;
    font-size: 14px;
}
  
.trip-name {
  font-size: 32px;
  line-height: 36px;
  font-family: "Thunder LC", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #1e1e21;
  line-height: 1.1em;
}
  
.trip-arrow {
    color: #1e1e21;
    text-decoration: none;
}
  
.trip-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
  
.trip-tag {
    /* background-image: linear-gradient( 89.7deg, rgba(223,0,0,1) 2.7%, rgba(214,91,0,1) 15.1%, rgba(233,245,0,1) 29.5%, rgba(23,255,17,1) 45.8%, rgba(29,255,255,1) 61.5%, rgba(5,17,255,1) 76.4%, rgba(202,0,253,1) 92.4% ); */
    background-color: #FFCC02;
    padding: 4px 8px 3px 8px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 400;
    color: #1e1e21;
}  